<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your search history</h1>

    <ul style="list-style: none;">
      <% @searches.each do |search| %>
        <li style="font-size: 1.2em;">
        <span>&#x27A2; &nbsp; </span>
          <%= search[0] %>
        </li>
      <% end %>
    </ul>
  </body>
</html>