<%= turbo_frame_tag "searches" do %>
  <% if @searches.nil? || @searches.empty? %>
    <p class="no-post">
      No searches yet.
    </p>
  <% else %>
    <% @searches.entries.each do |title, count| %>
          <li>
            <%= render "search", search: {title:, count:} %>
          </li>
        <% end %>
  <% end %>
<% end %>