<section class="container mx-auto">
  <header class="history-search-header d-flex">
    <h1 class="title">Searches list</h1>
    <%= button_to nil,
            class: "open-popup-btn",
            remote: true,
            data: {
              controller: "popup",
              action: "popup#openPopup",
              popup_id_param: "send-history-popup"
            } do %>
      Send searches history copy
    <% end %>
  </header>

  <div class="content">
    <ul class="search-list">
      <% if @searches.empty? %>
        <p class="empty">
          No search yet, try searching for something and come back here.
        </p>
      <% else %>
            <%= render "searches", searches: @searches %>
      <% end %>
    </ul>
  </div>
</section>

<%= render "components/history_popup",
    popup_id: "send-history-popup",
    form_route: searches_path(),
    searches: @searches,
    user_id: current_user.id
  %>