<section class="container mx-auto">
  <header class="">
    <h1 class="title">Search list</h1>
  </header>

  <div class="content">
    <ul class="search-list">
      <% if @searches.empty? %>
        <p class="empty">
          No searches yet, try searching for something and come back here.
        </p>
      <% else %>
            <%= render "searches", searches: @searches %>
      <% end %>
    </ul>
  </div>
</section>