<p style="color: green"><%= notice %></p>
<section class="search-form">
  <%= render 'components/search' %>
</section>

<section class="container mx-auto">
  <% if params[:query]%>
    <h1 class="section-title">Search Results</h1>
  <% else %>
    <h1 class="section-title">Latest Posts</h1>
  <% end %>
  <div id="posts">
    <%= render "posts", posts: @posts%>
  </div>
  <%= link_to "New post", new_post_path %>
</section>
